<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Anguchat</title>
</head>
<body>
<div class="text-center">Hello there</div>

<div ng-app="anguchatApp" ng-controller="anguchatCtrl">

    <div class="text-center">

        <div style="font-size: 1.8em;" class="row" ng-repeat='(key, value) in chatRoom'>
            <span>{{value}}</span>
        </div>


    </div>
    <br/>
    <form class="text-center" target="#">
        <input type="text" ng-model="msg">
        <button ng-click="sendMsg()">SEND</button>
        <br/>
    </form>
    <div>{{result}}</div>
    <div>{{maxId}}</div>
    <br/>
</div>

<script>
    var app = angular.module('anguchatApp', []);
    app.controller('anguchatCtrl', function ($scope, $http, $interval) {
        $scope.maxId = -1;
        function askForChatRoom() {
            $http({
                method: "POST",
                url: "chat",
                data: {lastId: $scope.maxId}
            }).then(function ok(value) {
                    if (value.status === 200){
                        $scope.chatRoom = value.data;
                        var keys = Object.keys($scope.chatRoom);
                        $scope.maxId = Math.max.apply(Math, keys);
                    }
                },
                function notOK(reason) {
                    $scope.result = "Error";
                });
        };
        $scope.sendMsg = function () {
            $http({
                method: "POST",
                url: "message",
                data: {msg: $scope.msg}
            }).then(function ok(value) {
                    $scope.msg = "";
                },
                function notOK(reason) {
                    $scope.result = "Error";
                })
        };
        $interval(function () {
            askForChatRoom()
        }, 5000);

    });


</script>
</body>
</html>